.checkout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  min-height: 700px;
  font-family: 'merriweather';
  color: #2a2828;
}

/*-----------------------------*/

/* .cart-items {
  border: 1px solid #191716;
  height: auto;
  min-height: 600px;
} */

.checkout-items {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
  min-height: 600px;
  margin: 50px 30px 50px 0px;
  padding: 40px 40px 70px 40px;
  border-left: 1px solid #2a2828;
  border-top: 2px solid #2a2828;
  border-bottom: 2px solid #2a2828;
  border-right: 2px solid #2a2828;
  border-radius: 5px;
}

.checkout-items-total {
  display: flex;
  align-items: center;
  margin: 0px 0px 0px 15px;
}

.checkout-items-totalprice {
  width: 85px;
  margin-left: 15px;
  font-size: 30px;
}

a.checkout-items-backBtn:link,
a.checkout-items-backBtn:visited {
  display: inline-block;
  width: 100px;
  margin: 5px;
  padding: 5px 10px;
  background-color: #d3d3d3;
  color: white;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto';
  text-transform: uppercase;
}

a.checkout-items-backBtn:hover,
a.ccheckout-items-backBtn:active {
  width: 100px;
  background-color: #e2b4bd;
  color: white;
}

/*-----------------------------*/

.checkout-form {
  display: flex;
  width: 600px;
  margin: 50px 0px 50px 30px;
}

#payment-form {
  border-right: 1px solid #2a2828;
  border-top: 2px solid #2a2828;
  border-bottom: 2px solid #2a2828;
  border-left: 2px solid #2a2828;
  height: auto;
  min-height: 600px;
  width: 600px;
  padding: 40px 60px 40px 60px;
}

#payment-submit-btn {
  margin: 15px 15px 15px 38.5px;
  background: #e2b4bd;
  font-family: Arial, sans-serif;
  color: #ffffff;
  border-radius: 5px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 400px;
  text-transform: uppercase;
}
#payment-submit-btn:hover {
  filter: contrast(115%);
}
#payment-submit-btn:disabled {
  opacity: 0.5;
  cursor: default;
}

/*-----------------------------*/

.edit-ip-container {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 60px;
}
.edit-ip-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
}

.edit-ip-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 15px;
  margin-right: 25px;
  font-family: 'roboto';
}

.edit-ip-input-btn {
  margin-left: 15px;
  margin-right: 30px;
  width: 60px;
}
/*-----------------------------*/

#card-element {
  border-radius: 4px 4px 0 0;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  max-height: 44px;
  width: 100%;
  background: white;
  box-sizing: border-box;
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}
.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.spinner:before,
.spinner:after {
  position: absolute;
  content: '';
}
.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}
.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

/*-----------------------------*/

.error-message1 {
  color: red;
  font-size: 12px;
  font-family: 'roboto';
  margin-top: 12px;
  margin-left: 12px;
}

.result-message {
  line-height: 22px;
  font-size: 16px;
  font-family: 'Roboto';
}
.result-message a {
  color: rgb(89, 111, 214);
  font-weight: 600;
  text-decoration: none;
  font-family: 'Roboto';
}
.hidden {
  display: none;
}
#card-error {
  color: rgb(105, 115, 134);
  font-size: 16px;
  line-height: 20px;
  margin-top: 12px;
  text-align: center;
  font-family: 'Roboto';
}
