.shop-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home {
  height: 500px;
  width: 90%;
  background-color: #e2b4bd;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.home-images1 {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.home-images2 {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.home-single-image {
  margin: 50px;
}

.home-headline {
  font-family: 'merriweather';
  color: #2a2828;
}

.shop {
  height: 500px;
  width: 90%;
  border: 2px solid black;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-headline {
  font-family: 'merriweather';
  color: #2a2828;
  margin-top: 40px;
}

.proxy-tile-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-top: 20px;
}

.proxy-tile {
  width: 250px;
  height: 260px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  /* border: 5px solid #191716; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.proxy-tile p {
  font-family: 'merriweather';
  font-size: 20px;
}

a.proxy-tile-link:link,
a.proxy-tile-link:visited {
  width: 250px;
  height: 260px;
}

a.proxy-tile-link:hover,
a.proxy-tile-link:active {
  border: 2px solid black;
  background-color: white;
  color: black;
}

/* .proxy-tile-addtocart {

} */

.single-proxy-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 90%;
  margin-left: 40px;
}

.single-proxy-details-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-left: 80px;
  margin-top: 110px;
  font-family: 'merriweather';
  color: #2a2828;
}

.single-proxy-controls-container {
  display: flex;
}

.single-proxy-qty {
  width: 100px;
  height: 30px;
}

#quantity {
  width: 100px;
  height: 30px;
  font-family: 'merriweather';
  color: #2a2828;
}

.single-proxy-addtocart {
  margin-left: 10px;
}
