.userhome {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
  min-height: 500px;
  margin: 50px 150px 50px 150px;
}

.account-info {
  display: flex;
  flex-direction: column;
  width: 500;
  font-family: 'merriweather';
  color: #2a2828;
}

.proxy-info {
  margin-top: 40px;
  margin-bottom: 5px;
  border-bottom: 1px solid #2a2828;
}

.account-info h3 {
  margin-bottom: 5px;
}

.account-info h4 {
  margin: 10px;
}

.account-info h5 {
  margin-top: 5px;
}

.account-info p {
  margin: 5px;
}

.ip-info {
  display: flex;
  justify-content: flex-start;
}

.ip-list-info {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.edit-info {
  display: flex;
  flex-direction: column;
}

.edit-info-buttons {
  display: flex;
}

.edit-form {
  height: auto;
  min-height: 150px;
  width: 500px;
  margin-right: 50px;
  border: 2px solid #2a2828;
}

.error-message {
  margin-left: 15px;
  margin-top: 5px;
  color: red;
  font-size: 12px;
  font-family: 'roboto';
}
